<div id="content">
  <div id="ascensorFloor5" class="myAscensorFloor">
    <div class="contact-bg-div">
      <div class="adress-map-div">
        <div id="one_marker" style="width:550px; height:380px;">
            <iframe src="https://maps.google.com/maps?q=42.671425,23.3482661&z=18&output=embed" class="map" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <h3 class="title-adress">"Цветни Истории" се издава и разпространява от Издателство "Бяло Братство"</h3>
        <h3 class="title-adress">София, кв. Изгрев, ул. „ген. Щерю Атанасов“ 2</h3>
      </div>

      <div class="form-div">
      <%= render "contacts/new" %>
      </div>
    </div>
  </div>
</div>
