<div id="content">

      <div id="ascensorFloor3" class="myAscensorFloor">
        <div class="all-four">
          <div class="all-four-wraped">
            <div class="div-one-four">
              <div class="image-div"><%= image_tag("http://3.bp.blogspot.com/-2v2xO3dkStI/U0ATYnjKs0I/AAAAAAAAEnI/JBcy5nZSuYg/s890/%25D0%25A1%25D0%259F%2B-%2B%25D0%25BB%25D0%25BE%25D0%25B3%25D0%25BE.gif", class:"image-tag", alt:"sun")%></div>
                <div class="text-all">
                  <div class="text">
                    <h1 class="p-title">Идеята</h1>
                    <p class="p-text">Музиката, природата и цветята обагрят историите в различни краски.
                     Книжката ни пренася в един приказен свят - кралство Пчеландия.
                      Вдъхновена от пчелите като същества от един висш порядък,
                      тя дава импулс на децата да вярват в мечтите си, да пътешестват и да бъдат смели.

                    </p>
                    <p class="p-text">Цветните историте отразяват идеите на слънчевата педагогика - система от принципи,
                      която създава основа за възстановяване на живата и съзнателна връзка с природата.
                      Тези педагогически идеи са ни завещани от Учителя Беинса Дуно и са насочени към облагородяване на детската душа.

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<div>
