<div class="container">
  <div class="all-four">
    <div class="all-four-wraped">
      <div class="div-one-four">
        <div class="image-div"><%= image_tag("http://3.bp.blogspot.com/-2v2xO3dkStI/U0ATYnjKs0I/AAAAAAAAEnI/JBcy5nZSuYg/s890/%25D0%25A1%25D0%259F%2B-%2B%25D0%25BB%25D0%25BE%25D0%25B3%25D0%25BE.gif", class:"image-tag", alt:"sun")%></div>
          <div class="text-all">
            <div class="text row">
              <h1 class="p-title"><%= t("idea.title") %></h1>
              <p class="p-text col-sm-12 col-md-6 col-lg-6"><%= t("idea.main") %></p>
              <p class="p-text col-sm-12 col-md-6 col-lg-6"><%= t("idea.main-two") %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
