<div class="container">
  <div class="row">
    <div  class="center-block inner-content">
      <h1 class="first-title"><%= t ('home.html') %></h1>
      <h2 class="second-title"><%= t ('home.sub-title') %></h2>
      <p class="text-main"><%= t ('home.text-home') %></p>
      <div class="text-button"><%= link_to t("home.more-button"), home_thebook_path, class:"menu-text-btn" %></div>
    </div>
  </div>
</div>
