<div class = "create-contact">
  <h1 class = 'create-title'><%= t ('contact.create-title') %></h1>
  <p class = "create-p"><%= t ('contact.paragraph') %></p>
  <div class="create-back-btn"><%= link_to t("contact.back"), home_contacts_path, class:"menu-text-btn" %></div>
</div>
