<div class = "create-contact">
  <h1 class = 'create-title'>Благодаря за вашето съобщение.</h1>
  <div class="text-button"><%= link_to t("contact.back"), home_thebook_path, class:"menu-text-btn" %></div>
</div>
