@import "style-autor.css";
@import "style-book.css";
@import "style-idea.css";
@import "style-contact.css";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,800,700,300italic,300,400italic,600italic,700italic,800italic&subset=latin,cyrillic);
@font-face{
  font-family: 'Sunday-Regular';
  src: url('Sunday-Regular.otf');
}

body{
 background-image: url("Roq.png"), url("Jako.png"), url("BG.jpg");
 background-size: 70%, 70%, cover;
 margin: 0;
 padding: 0;
 background-attachment: fixed;
 background-position: 186% 318px, -108% 250px, center;
 background-repeat: no-repeat;
 }

.div-header{
  background-color: white;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.inside-header{
  max-width: 1200px;
  height: 120px;
  margin: auto;
}

#logo{
  width: 33%;
  min-width: 320px;
  margin-top: 32px;
}

.fb-en{
  list-style-type: none;
  display: block;
  border-width: thin;
  border-radius: 100px;
  margin: 5px;
  margin-top: 15px;
  border-style: solid;
  border-color: black;
  font-size: 23px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  float: right;
}

.f-button{
  display: block;
  list-style-type: none;
  color: black;
  text-align: center;
  padding: 1px 18px 2px 18px;
  cursor: pointer;
}

.f-button:hover {
  cursor:pointer;
  background-color: #555555;
  color: #fff600;
  text-decoration: none;
  padding: 1px 18px 2px 18px;
  border-radius: 100px;
}

.en-button{
  display: block;
  list-style-type: none;
  color: black;
  text-align: center;
  padding: 1px 14px 2px 14px;
  cursor: pointer;
}

.en-button:hover {
  background-color: #555555;
  color: #fff600;
  text-decoration: none;
  border-radius: 100px;
}

.navigation {
  float: right;
  margin-right: 0px;
  margin-top: -37px;
}

.nav-bar{
  display: inline-block;
}

.links-to-floor{
  list-style-type: none;
}

.links-to-floor > li{
  float: left;
  padding: 11px;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
}

li {
  text-decoration: none;
  color: black;
}

li > a:hover{
  color: #fc4f00;
  text-decoration: none;
}

.selected a{
  text-decoration: none;
  color: #fc4f00;
}

.selected a:hover{
  text-decoration: none;
  color: #fc4f00;
}

#ascensorFloor1 {
}

#ascensorFloor2 {
}

#ascensorFloor3 {
}

#ascensorFloor4 {
}

#ascensorFloor5 {
}


.centered-white{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 600px;
  margin: auto;
  margin-top: 200px;
}

/*NACHALO*/
.inner-content {
  box-shadow: 0 0 0 21px rgba(255, 255, 255, 1);
  border-radius: 12px;
  border-style: dashed;
  border-color: #fc4f00;
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  margin-top: 230px;
  width: 500px;
  max-width: 100%;
  height: 650px;
  max-height: 100%;
  /*display: none;*/
}

.first-title{
  font-family: Sunday-Regular;
  font-size: 55px;
  padding: 0px 138px 0px 42px;
  margin-top: 29px;
  line-height: 150%;
}

.pchelandia{
  color: #fc4f00;
  font-size: 65px;
  margin-top: 15px;
}

.text-main{
  font-family: Open Sans;
  font-size: 20px;
  margin-top: 32px;
  padding: 0 41px 0 41px;
  line-height: 180%;
}

.text-button{
  background-color: #fc4f00;
  border-radius: 30px;
  padding: 12px;
  margin: 47px 145px 0px 145px;
  text-align: center;
  cursor: pointer;
}

.text-button:hover{
  box-shadow: 0px 0px 14px 0 rgba(181, 99, 10, 0.9);
}

.menu-text-btn{
  color: white;
  font-size: 20px;
  font-family: Open Sans;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.menu-text-btn:hover{
  text-decoration: none;
  color: white;
}

.open{
  display: block !important;
  margin-top: 50px;

}

.menu-hamburger{
  margin: 20px;
}

.menu-toggle{

}

.footer{
 position: relative;
  bottom: 0;
  top: 100px;
 width: 100%;
 display: block;

}

.copyright{
  text-align: center;
}

.inside-header-left {
  width:40%;
  float:left;
}

.inside-header-right {
  width:60%;
  float:left;
}

@media screen and (max-width: 991px){
  #logo{
    margin-left: 10%;
  }

  .fb-en-ul li{
    float:right;
    margin-top: 0px;
  }
  .fb-en-ul{
    margin-right: 14px;
  }
  .inside-header-right {
    position:absolute;
    width:100%;
    z-index:5;
    top:15px;
    left:0;
  }

  .navigation {
    float:none;
  }
    .all-menu-buttons{
      float: none;
      margin-top:60px;
      background: white;
    }

    .menu-all{
      width: 100%;
    }
    .nav-toggle-li{
      background: white;
      float: none;

    }
    .fb-resp{
      float: none;
      display: block;
    }
    .footer{
      margin-top: 80px;
    }
  }

  @media screen and (max-width:420px) {
    .inside-header-left {
      text-align:center;
      width:100%;
    }
    .inside-header-right {
      top:95px;
      background: white;
    }

    .fb-resp {
      float:left;
      padding-left:0;
    }

    .fb-en-ul{
      margin-left: 9px;
    }

    #logo {
      margin-left: auto;
      margin-right: auto;
    }
    .menu-hamburger {
      margin-top:0;
    }

    .inner-content{
      width: 355px;
    }

    .first-title{
      font-size: 48px;
      padding: 0px 80px 0px 42px;
    }

    .pchelandia{
      font-size: 49px;
    }

    .text-button{
      margin: 31px 80px 0px 80px;
    }
  }

  .hidden{
    display: none;
  }
