.autor{
  box-shadow: 0 0 0 21px rgba(255, 255, 255, 1);
  border-radius: 12px;
  border-style: dashed;
  border-color: #fc4f00;
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  margin-top: 230px;
  width: 1000px;
  max-width: 100%;
  height: 675px;
  max-height: 100%;
  z-index:5;
}

.all-ellements {
  margin-top: 25px;
  padding: 0 50px 0 50px;
}

.all-one {
  padding-left: 65px;
  padding-right: 55px;
}

.a-name {
  margin-top: 15px;
}

.title-two {
  color:black;
  margin-top: 10px;
  font-family: Open Sans;
  font-style: oblique;
  font-size: 18px;
}

.text-large {
  font-family: Open Sans;
  font-size: 19px;
  color: black;
  margin-top: 10px;
  // line-height: 165%;
  text-align: justify;
}

.paragraph-title {
  font-size: 26px;
  font-family: Sunday-Regular;
  font-weight: 500;
  margin-top: 10px;
  color: #fc4f00;
}

.photo {
  width: 100%;
  max-width: 100%;
}


@media screen and (max-width: 991px){

  .autor{
    max-height: 100%;
    height: 2500px;
  }

  html{
    font-size: 100%;
  }

}

@media screen and (max-width: 420px){

  .autor{
    height: 900px;
  }

  .box-author {
    width: 53%;
    margin: auto;
    }
}
