.all-four{
  width: 80%;
  margin: auto;
  margin-top: 180px;
  /*display: none;*/
}

.all-four-wraped{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-around;
}

.div-one-four{
  box-shadow: 0 0 0 21px rgba(255, 255, 255, 1);
  border-radius: 12px;
  border-style: dashed;
  border-color: #fc4f00;
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  margin-top: 230px;
  width: 900px;
  max-width: 100%;
  height: 550px;
  max-height: 100%;
  /*display: none;*/
}
/*.div-one-four{
  box-shadow: 0 0 0 21px rgba(255, 255, 255, 1);
  border-radius: 12px;
  border-style: dashed;
  border-color: #fc4f00;
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  margin-top: 50px;
  width: 305px;
  max-width: 100%;
  height: 600px;
  max-height: 100%;
  display: block;
  float:left;
  margin-right: 30px;
  margin-left: 30px;
  transition:0.22s all;
  position:relative;
  z-index:0;
}*/

/*.div-one-four:hover{
  margin-left:-25px;
  margin-right:-25px;
  margin-top:25px;
  width: 320px;
  max-width: 100%;
  height: 650px;
  max-height: 100%;
  background:white;
  box-shadow: 0 0 0 21px white, 0 2px 8px 20px rgba(0, 0, 0, 0.2);
  position:relative;
  z-index: 9;
}*/
.image-div{
  float:left;
  margin-right: 10px;
  margin-left: 10px;
  width: 225px;
  max-width: 100%;
  height: 190px;
  max-height: 100%;
}

.image-tag{
  margin-top: 40px;
  width: 150px;
  max-width: 100%;
  border-radius: 14px 14px 0 0;
}

.text{
  padding-left: 100px;
  text-align: justify;
  margin-top: 5%;
}

.p-title{
  margin: 0;
  font-family: Open Sans;
  font-weight: 500;
  font-size: 26px;
  color: black;
}

.p-text{
  color: black;
  font-family: Open Sans;
  font-size: 20px;
  text-align: justify;
  margin-top: 12px;
  margin-right: 16%;
  margin-left: 18%;
  line-height: 180%;
}

/*BUTTON*/
.more-button{
  background-color: #fc4f00;
  border-radius: 30px;
  padding: 7px;
  margin: 25px 557px 0px 0px;
  text-align: center;
  cursor: pointer;
}

.more-button:hover{
  box-shadow: 0px 0px 14px 0 rgba(181, 99, 10, 0.9);
}

.more-text-btn{
  color: white;
  font-size: 20px;
  font-family: Helvetica;
  text-decoration: none;
  cursor: pointer;
}

.more-text-btn:hover{
  text-decoration: none;
  color: white;
}
