.contact-bg-div{
  box-shadow: 0 0 0 21px rgba(255, 255, 255, 1);
  border-radius: 12px;
  border-style: dashed;
  border-color: #fc4f00;
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  margin-top: 230px;
  width: 1000px;
  max-width: 100%;
  height: 650px;
  max-height: 100%;
  z-index:5;
}

.adress-map-div{
  margin-top: 50px;
  padding: 0 30px 0 80px;
  text-align: center;
}

.map{
  margin-top:-21px;
  width: 100%;
  height: 100%;
  border-radius: 3%;
  z-index: 50;
}

#one_marker{
  border-radius: 12px;
  border: solid #dbd9d9 2px;
}

 .title-adress {
   font-family: Open Sans;
   font-weight: 500;
   font-size: 20px;
   margin-top: 5%
 }

.form-div{
  background-color: #faf7cc;
  padding: 30px 50px 79px 50px;
}

.text-label{
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 500;
  font-size: 17px;
}

.input-label{
    width: 100%;
    padding: 12px 20px;
    margin-bottom: -20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-message{
  height: 160px;
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-label:focus {
  box-shadow: 0px 0px 14px 0 rgba(181, 99, 10, 0.2);
  outline:none;
}

.input-message:focus {
  box-shadow: 0px 0px 14px 0 rgba(181, 99, 10, 0.2);
  outline:none;
}

input[type=submit] {
  font-family: Helvetica;
  background-color: #fc4f00;
  color: white;
  padding: 10px 40px 11px 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
}

input[type=submit]:hover {
  box-shadow: 0px 0px 14px 0 rgba(181, 99, 10, 0.9);
}

.contact-title{
  font-family: Sunday-Regular;
  font-weight: 500;
  font-size: 23px;
  color: #fc4f00;
}

.address-all {
  display: block;
  margin-top: 18%;
}

@media screen and (max-width: 991px){
  .contact-bg-div{
    width: 911px;
    max-width: 100%;
    height: 1200px;
    max-height: 100%;
  }
  .adress-map-div{
    width: 100%;
  }

  .title-adress{
    margin-top: 20px;
  }

  .form-div{
    padding: 20px 80px 79px 80px;
  }

  .all-inputs{
  text-align: center;
   display: block;
  }
  .input-box{
    float: none;
    display: block;
  }
  .div-textarea{
    margin:auto;

  }
}

  @media screen and (max-width:420px) {
    #one_marker {
      width: 500px;
    }
    .form-div {
      margin:auto;
      width: 90%;
    }
    .contact-bg-div {
      height: 1130px;
      max-height: 100%;
    }
  }
